#banner {
    position: relative;
    display: flex;
    height: $banner-height;
    justify-content: center;
    align-items: center;
    &:before {
        background: $banner-background;
        background-size: cover;
        background-attachment: fixed;
        height: $banner-height;
        width: 100vw;
        content: '';
        left: 0;
        position: absolute;
        z-index: -1;
    }
    header {
        color: $banner-font;
        display: flex;
        flex-direction: column;
        filter: drop-shadow(0 0 5px rgba($black, .7));
        .title {
            font-size: $title * 1.5;
            margin-bottom: .5em;
        }
    }
}