html,
body {
    height: 100vh;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

ul,
ol,
li,
a {
    text-decoration: none;
    list-style: none;
}

// config
$default-font: $white;
$default-background: $light-gray;
// theme
$about: $blue;
$coc: darken($yellow, 20);
$schedule: $red;
$subject: $green;
$active: $dark-green;
$apply: $blue;
$team: $red;
$experience: $orange;
// bar
$bar-height: 4em;
$bar-background: transparent;
$bar-background-scrolled: $white;
$bar-font: $default-font;
// banner
$banner-height: 100vh;
$banner-background: -webkit-linear-gradient(top, $blue 0%, transparent 20%),
url("../../assets/images/banner.jpg") no-repeat;
$banner-font: $default-font;
// spotlight
$content-background: $white;
//schedule
$schedule-label: $black;
$schedule-dark: $red;
$schedule-border: $white;
$schedule-light: lighten($red,
10);
//timeline
$timeline-width: 720px;
