$glass-green: #a1c950;
$green: #6a8f37;
$dark-green: #4a542d;
$yellow: #f4e095;
$orange: #ef8c39;
$red: #e64a2c;
$dark-red: #a94529;
$black: #27282D;
$dark-gray: #606060;
$gray: #9e9895;
$light-gray: #dfdcda;
$white: #f8fcf6;
$blue: #35b4b8;
