html,
body {
    height: 100vh;
}

ul,
ol,
li,
a {
    text-decoration: none;
    list-style: none;
}

// config
$default-font: $white;
$default-background: $light-gray;
// theme
$about: $blue;
$camp: $red;
$coc: darken($yellow, 20);
$schedule: $red;
$subject: $green;
$active: $dark-green;
$experience: $orange;
// bar
$bar-height: 4em;
$bar-background: transparent;
$bar-background-scrolled: $white;
$bar-font: $default-font;
// banner
$banner-height: 100vh;
$banner-background: $blue;
$banner-font: $default-font;
// spotlight
$content-background: $white;