.spotlight {
    z-index: 0;
    background-color: $light-gray;
    display: flex;
    width: 100vw;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    $spotStyle: (about, $about) (coc, $coc) (schedule, $schedule) (subject, $subject) (active, $active) (experience, $experience);
    @each $style in $spotStyle {
        $id: nth($style, 1);
        $color: nth($style, 2);
        &##{$id} {
            &.animation {
                .title:before {
                    transition: all 1s;
                    transform: scale(1, 1);
                }
            }
            .title {
                display: flex;
                z-index: 10;
                background-color: $color;
                color: $white;
                padding: .5em;
                margin-top: $bar-height * .5;
                position: relative;
                justify-content: center;
                align-items: center;
            }
            .subtitle {
                margin: 1em 0 .5em 0;
                position: relative;
                &:before {
                    z-index: 1;
                    display: flex;
                    border-radius: 50%;
                    position: absolute;
                    content: '#';
                    width: 1em;
                    height: 1em;
                    transform: translateX(-1em);
                    color: $color;
                }
            }
            .content {
                min-height: 50%;
                margin: .5em;
                align-items: center;
                display: flex;
                justify-content: center;
                color: $dark-gray;
                text-indent: 2em;
                white-space: pre-wrap;
                flex-direction: column;
                line-height: 1.75em;
                padding: 1em;
                p {
                    width: 60%;
                    position: relative;
                    display: flex;
                    @media screen and (max-width: 768px) {
                        width: 80%;
                    }
                    @media screen and (max-width: 630px) {
                        width: calc(100% - 1em);
                        padding: 0 .5em;
                    }
                }
                .rule {
                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        width: auto;
                        ul {
                            margin: 0;
                            width: calc(100% - 3em * 2) !important;
                        }
                    }
                    width: 90%;
                    padding: 1em;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    ul {
                        border: 1px solid $color;
                        border-radius: 1em;
                        text-indent: 0;
                        padding: 1em 2em;
                        margin: 1em;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        position: relative;
                        li {
                            flex-direction: column;
                            flex-direction: column;
                            list-style: circle;
                        }
                    }
                }
            }
        }
    }
    .container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}