.spotlight {
    background-color: $light-gray;
    display: flex;
    width: 100vw;
    position: relative;
    min-height: 100vh;
    $spotStyle: (sitcon, $sitcon) (camp, $camp) (coc, $coc) (apply, $apply) (experience, $experience);
    padding: $bar-height;
    @each $style in $spotStyle {
        $id: nth($style, 1);
        $color: nth($style, 2);
        &##{$id} {
            .title {
                display: flex;
                background-color: $color;
                color: $white;
                padding: .5em;
                position: relative;
                justify-content: center;
                align-items: center;
                &:before {
                    display: flex;
                    border: .2em solid $color;
                    border-radius: 50%;
                    position: absolute;
                    content: '';
                    width: 1em;
                    height: 1em;
                    left: -3em;
                }
            }
            .content {
                align-items: center;
                display: flex;
                color: $color;
                margin: 2em;
                text-align: left;
                text-indent: 2em;
                word-wrap: break-word;
                white-space: pre-wrap;
                flex-direction: column;
                max-width: 70%;
                line-height: 1.75em;
                p {
                    position: relative;
                    display: flex;
                }
                ul {
                    flex-direction: row;
                    display: flex;
                    position: relative;
                    li {
                        width: 100%;
                        padding: .5em;
                        flex-direction: column;
                        ul {
                            text-indent: 0;
                            flex-direction: column;
                            li {
                                padding: 0;
                                flex-direction: column;
                                list-style: circle;
                            }
                        }
                    }
                }
            }
        }
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}